body{
    margin: 0;
    font-size: 1rem;
    font-family: 'Raleway', sans-serif;
    
}
a {
    background-color: transparent;
    color: #000;
    text-decoration: none;
  }

.header-link {
    display: grid;
    align-items: center;
    max-width: 1440px;
    margin-right: 100%;
  }

  

  /* Desktop Navigation */
  .nav-menu{
    max-width: 1440px;
    margin-left: 100%;
    padding: 0 10rem;
  }
.nav-menu ul {
    max-width: 1440px;
    margin-left:100%;
    padding: 0 1rem;
    list-style: none;
  }
  
  .nav-menu > ul {
    display: flex;
  }
  
  .nav-menu > ul > li {
    position: relative;
    white-space: nowrap;
    padding: 10px 0 10px 28px;
  }
  
  .nav-menu a {
    display: block;
    position: relative;
    transition: 0.3s;
    font-size: 15px;
    font-family: "Raleway", sans-serif;
    font-weight: 600;
  }
  
  .nav-menu > ul > li > a:before {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    top: -5px;
    left: 0;
    background-color:blue;
    visibility: hidden;
    width: 0px;
    transition: all 0.3s ease-in-out 0s;
  }
  
  .nav-menu a:hover:before, .nav-menu li:hover > a:before, .nav-menu .active > a:before {
    visibility: visible;
    width: 60px;
  }
  
  .nav-menu a:hover, .nav-menu .active > a, .nav-menu li:hover > a {
    color: blue;
  }
  /*****
  .nav {
    display: flex;
    align-items: center;
    grid-area: navbar;
    margin-left:100%;
  }
 /** .navlink {
   padding: 2rem;*
    font-weight: 500;
    text-align: center;
    transition-duration: 0.5s;
    border-top: 3px transparent solid;
    border-bottom: 3px transparent solid;
    margin-right: 100%;
  }
 /** .navlink[data-active="true"] {
    color: #0065fc;
  }
  .navlink:hover {
    color: #0065fc;
  }
  .signup {
    display: flex;
    align-items: center;
    grid-area: button;
    /*padding: 2rem;*
    color: #0065fc;
    font-weight: 600;
    margin-right: 100%;
  }


  /*main*/
  .main {
    max-width: 1440px;
    margin-right: auto;
    padding: 0 1rem;
    box-sizing: border-box;
  }
  
  main {
    display: block;
  }


.btn{
    background-color: white;
    border-radius: 20px;
    text-align: center;
    padding: 10px 20px;
    color: black;
    font-weight: bold;
}
.bouton_recherche{
    background-color: blue;
    color:white;
    padding: 10px 20px;
    text-align: center;
    border-bottom-right-radius: 15px;
    border-top-right-radius: 15px;
    display:inline-block;
  
}
.bouton_recherche:hover{
    color:black;
}

input{
    border-bottom-left-radius: 15px;
    border-top-left-radius: 15px;
    text-align: center;
    padding: 10px 20px;
}
.filters{
    border:none;
    background-color: none;
    font-weight: bold;
}
.w3-container{
    border-radius: 20px;
}
********

* {
  box-sizing: border-box;
}

/*body {
  
  padding: 20px;
  font-family: Arial;
}
/*.main-p{
    background-color:#f1f1f1;
    border-radius: 3%;
    max-width: 25%;
    margin-left: auto;
    height: 250pxs;
}
.column-p{
    float: left;
    width: 25%;
}
.content-p {
    background-color: white;
    padding: 10px;
    border-radius: 20px;
  }*/
/*Section activity*/
  .activity {
    display: grid;
    column-gap: 2rem;
    margin: 4rem 0;
  }
  
  .activity_card {
    box-shadow: 0 0 10px #0000002e;
    border-radius: 1rem;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    transition-duration: 0.5s;
  }
  
  .activity_card:hover {
    transform: scale(1.03);
  }
  
  .activity_grid {
    position: relative;
    flex: 1;
  }
  
  .activity_img {
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
  
  .activities_card_text {
    margin: 1.2rem 1.5rem;
  } 
/* Center website */
.main {
 /* background-color: #f1f1f1;*/
  border-radius: 3%;
  max-width: 1000px;
  
}

h2 {
  font-size: 20px;
  word-break: break-all;
  padding: 20px;
}

.row {
  margin: 8px -16px;
}

/* Add padding BETWEEN each column */
.row,
.row > .column {
  padding: 20px;
 
}

/* Create three equal columns that floats next to each other */
.column {
  float: left;
  width: 33%;
}

/* Clear floats after rows */ 
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Content */
.content {
  background-color: white;
  padding: 10px;
  border-radius: 20px;
}
img{
    border-top-left-radius: 20px;
    border-top-right-radius: 20px ;
}

/* Responsive layout - makes a two column-layout instead of three columns */
@media screen and (max-width: 900px) {
  .column {
    width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}
.star {
    margin: 0 0.75rem 0.25rem 0.75rem;
}

  .star_check {
        color: #0065fc;
             }

  .star_uncheck{
            color: #d9d9d9;
            
    }
    /*ARTICLE*/
    .row {
        background-color: #f2f2f2;
        border-radius: 1.5rem;
        padding: 2rem;
      }
      
      .article1 {
        background-color: #fff;
        padding: 0.375rem;
        border-radius: 1.25rem;
        box-shadow: 0 0 16px #0000002e;
        transition-duration: 0.5s;
        cursor: pointer;
        box-sizing: border-box;
        height: 100%;
      }
      
      .article1:hover {
        transform: scale(1.03);
      }
      .img-heb {
        height: 7rem;
        object-fit: cover;
        width: 100%;
        max-width: 100%;
        max-height: 100%;
        border-radius: 1rem 1rem 0 0;
      }
      .fig-heb {
        margin: 0;
      }

      /*POP*/
      .popular {
        display: grid;
        row-gap: 2rem;
        align-items: start;
        grid-template-rows: auto repeat(3, 1fr);
      }

/* activites */


  
  .row-2 {
    margin: 8px -16px;
  }
  
  /* Add padding BETWEEN each column */
  .row,
  .row-2 > .column {
    padding: 20px;
   
  }
  
  /* Create four equal columns that floats next to each other */
  .column-3,.column-4,.column-2 {
    float: left;
    width: 25%;
  }
  
  /* Clear floats after rows */ 
  .row-2:after {
    content: "";
   /* display: table;*/
    /*clear: both;*/
  }
  
  /* Content */
  .content-2 {
    background-color: white;
    padding: 10px;
    border-radius: 20px;
  }
  img{
      border-top-left-radius: 20px;
      border-top-right-radius: 20px ;
  }
 
  
  /* Responsive layout - makes a two column-layout instead of three columns */
  @media screen and (max-width: 900px) {
    .column-2,.column-3,.column-4 {
      width: 50%;
    }
  }
  
  /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .column-2,.column-3,.column-4{
      width: 100%;
    }
    

 
  }
  
  